* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: inter;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    margin: 22px 80px 192px 83px;
}

nav a {
    color: #14142B;
    text-decoration: none;
}

a::after {
    text-decoration: none;
}

.header__logo {
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1.3px;
}

.header__navigation {
    display: flex;
    gap: 48px;
    align-items: center;
}

.header__socials {
    display: flex;
    gap: 16px;
}

.First__Container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    height: 440px;
    margin-bottom: 128px;
}

.Small__Line--Green {
    width: 20px;
    height: 8px;
    background-color: #1AD993;
    align-self: center;
    margin-right: 111px;
}

.Small__Line--Blue {
    width: 24px;
    height: 8px;
    background-color: #832BC1;
}

.First__Container--Text {
    display: flex;
}

.About__Host {
    letter-spacing: 2px;
    color: #503AE7;
    margin-bottom: 38px;
}

h1 {
    width: 330px;
    margin-bottom: 38px;
}

.Text {
    width: 400px;
}

.Text p {
    margin-bottom: 56px;
}

.Blue__Button {
    padding: 12px 32px;
    border: none;
    background-color: #503AE7;
    color: white;
}

.Big__Line--Green {
    width: 58px;
    height: 8px;
    background-color: #1AD993;
    align-self: flex-end;
}

.podcasts__Div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 128px;
}

.podcasts {
    font-size: 24px;
    font-weight: 600;
}

.Second__Container {
    display: flex;
    justify-content: center;
    margin-bottom: 128px;
}

.Second__Container--Text {
    max-width: 650px;
    width: 100%;
    align-self: center;
    margin-bottom: 130px;
}

.Second__Container--Text h2 {
    margin-bottom: 32px;
    font-size: 32px;
    max-width: 300px;
    width: 100%;
}

.Apparently {
    max-width: 520px;
    width: 100%;
    margin-bottom: 32px;
}

.Second__Container--P {
    max-width: 520px;
    width: 100%;
    color: #14142B;
    font-weight: 600;
    line-height: 30px;
}

.Big__Line--Purple {
    width: 58px;
    height: 8px;
    background-color: #832BC1;
    display: flex;
    justify-self: flex-end;
    margin-right: 70px;
}

.Blue__Container {
    max-width: 390px;
    width: 100%;
    height: 124px;
    background-color: #503AE7;
    display: flex;
    align-items: center;
    gap: 19px;
    position: relative;
    bottom: 100px;
    right: 65px;
}

.Blue__Container  div {
    width: 7px;
    background-color: #1AD993;
}

.forty {
    margin-left: 32px;
}

.Green__Col--Forty {
    height: 40px;
}

.Green__Col--FiftyTwo {
    height: 52px;
}

.White__Col--Small {
    height: 53px;
}

.Green__Col--FiftyNine {
    height: 59px;
}

.Green__Col--Ninety {
    height: 92px;
}

.White__Col--Med {
    height: 59px;
}

.Green__Col--Small {
    height: 24px;
}

.Third__Container {
    display: flex;
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 128px;
    justify-content: center;
}

.Third__Container--Line {
    align-self: flex-start;
    justify-self: flex-start;
}

.Small__Line--Purple {
    width: 20px;
    height: 8px;
    align-self: flex-end;
    background-color: #832BC1;
    margin-left: 184px;
    margin-top: 360px;
}

.Third__Container--Text {
    margin-right: 64px;
}

.Third__Container--Header {
    width: 351px;
    font-size: 32px;
}

.Third__Cont--SecondP span {
    font-weight: 600;
}

.Third__Container--P {
    width: 480px;
    margin-bottom: 32px;
}

.Third__Cont--SecondP {
    width: 480px;
}

.Second__Part--Header {
    width: 400px;
}

.Second__Part--P {
    margin-bottom: 32px;
    width: 480px;
    line-height: 26px;
}

.Third__Cont--Line {
    align-self: flex-end;
    margin-left: 80px;
}

.Four__Squares {
    display: flex;
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    height: 500px;
    margin-bottom: 128px;
}

.First__Square {
    background-color: #503AE7;
    align-self: flex-end;
    width: 300px;
}

.Square__Image {
    width: 120px;
    margin: 0 auto;
    padding-top: 64px;
}

.Square__Image img {
    margin-bottom: 96px;
    width: 128px;
}

.Square__Header {
    color: white;
    margin-bottom: 16px;
    margin-left: 40px;
    font-size: 32px;
}

.Square__Header--Second {
    color: white;
    margin-bottom: 32px;
    margin-left: 40px;
    font-size: 28px;
}

.Second__Square {
    align-self: flex-start;
    background-color: #503AE7;
    width: 300px;
}

.Fourth__Container {
    background-image: url(../sideImages/man-in-beige-suit-jacket-sitting-on-chair-6878173.png);
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-around;
    height: 585px;
    margin-bottom: 128px;
}

.Fourth__Container--Text {
    margin-left: 240px;
    width: 440px;
}

.Fourth__Container--Header {
    color: white;
    font-size: 48px;
    margin-bottom: 32px;
}

.Fourth__Container--P {
    margin-bottom: 32px;
    color: white;
}

.Transparent__Button {
    padding: 12px 32px;
    border: 1px solid white;
    background: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.Heartbeat {
    width: 571px;
    height: 146px;
    background-color: #503AE7;
    align-self: flex-end;
    position: relative;
    top: 128.5px;
    left: 162px;
}

.Heartbeat img {
    margin: 16px 32px 16px 32px;
}

.episodes__Div {
    max-width: 1620px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 128px;
}

.episodes__Start {
    display: flex;
    justify-content: space-between;
}

.Recents {
    margin-left: 20px;
    margin-bottom: 16px;
}

.episodes__Header--P {
    margin-left: 20px;
    max-width: 371px;
    width: 100%;
    margin-bottom: 64px;
}

.See__All {
    padding: 12px 32px;
    background-color: #503AE7;
    color: white;
    font-weight: 600;
    margin-right: 30px;
    margin-top: 50px;
    border: none;
}

.Episode__Count {
    display: flex;
    justify-content: space-around;
}

.Episode__One {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Episodes__Picture {
    position: absolute;
    max-width: 500px;
    width: 100%;
}

.Mic__Icon {
    position: relative;
    width: 50px;
    left: 440px;
    top: 10px;
    z-index: 100;
}

.Episodes__Text {
    position: relative;
    margin-top: 290px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Episodes__Header {
    font-size: 32px;
    margin-bottom: 16px;
}

.Episodes__Paragraph {
    margin-left: 0;
    margin-bottom: 16px;
    font-size: 16px;
}

.Listen__Now {
    display: flex;
    align-items: center;
    gap: 12px;
    color:#503AE7;
    font-size: 16px;
    font-weight: 600;
}

.Blue__Footer {
    max-width: 1720px;
    width: 100%;
    background-color: #503AE7;
    margin: 0 auto;
    position: relative;
    top: 98px;
}

.Footer__Header {
    padding-top: 72px;
    color: white;
    font-size: 32px;
    text-align: center;
    margin-bottom: 66px;
}

.Sponsors {
    display: flex;
    justify-content: space-around;
    padding-bottom: 72px;
}

.Full__Footer {
    background-color: #14142B;
}

.Footer__Main {
    padding-top: 195px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 96px;
}

.Navigation, a, .Subscribe {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Pages {
    color: white;
    margin-bottom: 32px;
}

.Subscribe {
    gap: 32px;
}

.CopyWright {
    background-color: #503AE7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    color: white;
}